
.wrap{ 
   	background-color: #eee;
  

}
.left{
    width:200px;
    float:left;
    
    background-color:#fff;
    margin-left: 20px;
}
.mid{
	background-color:#fff;
	margin: 0 200px 0 300px;
 
 	
 }
.right{
  
    margin-left: 20px;
    background-color:#fff;
    float:right;
	
    width: 120px;
}

div{
	padding: 20px;
	border: 1px solid #999;
}

.logo{
	position: relative;
	height: 80px;
	width: 80px;
	background:url(img/logo.gif);
	float: left;
	margin-right: 25px;
	padding: 0;
	border-radius: 15px;

}

.member{
	height: 80px;
	width: 80px;
	background-color: #eee;
	margin-bottom: 20px;
	margin: 15px auto;
	border-radius: 15px;

}

.one{
	background: url(img/1.jpg);
	padding: 0px;

}


.two{
	background: url(img/2.gif);
	padding: 0px;
}

.three{
	background: url(img/3.gif);
	padding: 0px;
}

.four{
	background: url(img/4.gif);
	padding: 0px;
}

.five{
	background: url(img/5.gif);
	padding: 0px;
}
